body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('./notebook-background-texture-w2bqz0cxkygdfjjs.jpg');
  height: 100vh;
  overflow-y: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Optional: Add media queries to adjust styles for smaller screens */
@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
      background-attachment: fixed  ; /* Override fixed attachment for small screens */
      background-image: url('./notebook-background-texture-w2bqz0cxkygdfjjs.jpg');
  }
}


.container {
  width: 90%; /* Use percentage instead of fixed pixels */
  margin: 0 auto; /* Center the container */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
